JBOSS_USER=jboss

JBOSS_HOME=/opt/jboss/bin/jboss6

JBOSS_BASE=/opt/jboss/instances/instance01

JBOSS_CONFIG=standalone.xml

STARTUP_WAIT=30

SHUTDOWN_WAIT=30

JBOSS_CONSOLE_LOG=/var/log/jboss/console.log

JBOSS_PIDFILE=/var/run/jboss/jboss-as-standalone.pid
